<center>

	<br />
	<h1>Contact The Gossip Team</h1>
	<p>Contacte nous juste pour nous dire hello.</p>
	<p>-Dis moi qui tu fréquentes, je te dirais qui tu es.<br />
		-Qui tu fréquentes<br />
		-Qui tu es.<br />
		-Merci à toi.<br />
	-De rien, à plus tard !</p>

	<p>Email: <a href="mailto:hello@gossip.com">hello@gossip.com</a></p>
</center>
